<body>
  <div class="tr-topbar">
      <div class="container clearfix">
          <div class="select-language">
              <div class="tr-dropdown">
                  <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text"><span class="tr-flag"><img src="assets/images/others/flag.png" alt="Image" class="img-fluid"></span>RUS</span> <span class="dropdown-toggle"></span></a>
                  <ul class="tr-dropdown-menu tr-change">
                      <li><a href="#"><span class="tr-flag"><img src="assets/images/others/flag.png" alt="Image" class="img-fluid"></span>USD</a></li>
                      <li><a href="#"><span class="tr-flag"><img src="assets/images/others/flag.png" alt="Image" class="img-fluid"></span>RUS</a></li>
                  </ul>
              </div>
          </div>
          <div class="topbar-right">
              <ul class="tr-list">
                  <li><span><a href="#"><span class="icon icon-support"></span>+0123 45 67 89</a></span></li>
                  <li><a href="#"><span class="icon icon-send"></span><span class="__cf_email__" data-cfemail="d1a2a4a1a1bea3a591b2b0a3a5ffb2bebc">[email&#160;protected]</span></a></li>
                  <li><span><a href="#"><span class="icon icon-dialog"></span>Live Chat</a></span></li>
              </ul>
              <div class="currency select-after">
                  <select class="amount">
                      <option value="#">$ USD</option>
                      <option value="#">$ AUD</option>
                      <option value="#">$ EUR</option>
                      <option value="#">$ GBP</option>
                  </select>
              </div>
              <a href="#" class="btn btn-primary">Help Centre</a>
          </div>
      </div><!-- /.container -->
  </div><!-- /.tr-topbar -->

  <div class="topbar-middle">
      <div class="container clearfix">
          <a class="tr-logo logo" href="index.html"><img class="img-fluid" src="assets/images/logo.png" alt="Logo"></a>
          <a class="tr-logo tr-logo-2" href="index.html"><img class="img-responsive" src="assets/images/logo-white.png" alt="Logo"></a>
          <form class="search-form" action="#" id="search" method="get">
              <input class="form-control" name="search" type="text" placeholder="Search this Site">
              <button type="submit"><i class="fa fa-search"></i></button>
          </form><!-- /.form -->
          <div class="right-content">
              <div class="tr-user">
                  <div class="user-image">
                      <img src="assets/images/others/user.png" alt="Image" class="img-fluid">
                  </div>
                  <div class="user-option">
                      <div class="tr-dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anu mol Sizp
                          <span class="caret"></span></a>
                          <ul class="tr-dropdown-menu">
                              <li><a href="#">Settings</a></li>
                              <li><a href="#">Log Out</a></li>
                          </ul>
                      </div><!-- /.dropdown -->
                  </div>
              </div><!-- /.tr-user -->

              <ul class="tr-list cart-content">
                  <li><a href="#"><span class="icon icon-pulse"></span></a></li>
                  <li class="tr-dropdown"><a href="#"><span class="icon icon-basket"></span> <span class="cart-number">5</span></a>
                      <div class="tr-dropdown-menu">
                          <ul class="tr-list">
                              <li class="remove-item">
                                  <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                  <div class="tr-product">
                                      <a href="details.html">
                                          <span class="product-image">
                                              <img src="assets/images/product/man1.png" alt="Image" class="img-fluid">
                                          </span>
                                          <span class="product-title">Nescafé Classic Coffee, 100g Dawn Jar</span>
                                          <span class="color">Blue</span>
                                          <span class="price"><del>$560</del>$299</span>
                                      </a>
                                  </div>
                              </li>
                              <li class="remove-item">
                                  <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                  <div class="tr-product">
                                      <a href="details.html">
                                          <span class="product-image">
                                              <img src="assets/images/product/man2.png" alt="Image" class="img-fluid">
                                          </span>
                                          <span class="product-title">Nescafé Classic Coffee, 100g Dawn Jar</span>
                                          <span class="color">Blue</span>
                                          <span class="price"><del>$560</del>$299</span>
                                      </a>
                                  </div>
                              </li>
                          </ul>
                          <div class="total-price">
                              <span><strong>Total Price: </strong>$598:00</span>
                          </div>
                          <div class="buttons">
                              <a class="btn btn-primary cart-button" href="shopping-cart.html">View Cart</a>
                              <a class="btn btn-primary" href="#">Checkout</a>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div><!-- /.container -->
  </div><!-- /.topbar-middle -->

  <!-- user-modal -->
  <div class="user-modal">
      <div id="modal-signin" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <div class="user-account text-center">
                          <h1>Create Account</h1>
                          <p>Don’t worry, we won’t spam you or sell your information.</p>
                          <form action="#" class="tr-form">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Username">
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Password">
                              </div>
                              <button type="submit" class="btn btn-primary">Sign In</button>
                              <div class="forgot-password">
                                  <a href="#">Forgot Password</a>
                              </div>
                              <ul class="tr-list social">
                                  <li class="pull-left"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li class="pull-right"><a href="#"><i class="fa fa-facebook"></i></a></li>
                              </ul>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- /.modal-signin -->

      <div id="modal-signup" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <div class="user-account text-center">
                          <h1>Create Account</h1>
                          <p>Don’t worry, we won’t spam you or sell your information.</p>
                          <form action="#" class="tr-form">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Username">
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control" placeholder="Email">
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Password">
                              </div>
                              <span>By continuing, you agree to our Terms of Use and Privacy Policy.</span>
                              <button type="submit" class="btn btn-primary">Create account</button>
                              <div class="already-acount">
                                  <a href="#">Already have an acount?</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- /.modal-signup -->
  </div><!-- /.user-modal -->

  <div class="tr-menu">
      <nav class="navbar navbar-expand-lg">
          <div class="container">
              <div class="menu-content">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                          <li class="nav-item tr-dropdown">
                              <a class="nav-link" href="index.html">Home</a>

                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="listing.html">COLD BREW</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="listing.html">COHOMA CUPS</a>
                          </li>
                          <li class="nav-item tr-dropdown mega-dropdown">
                              <a class="nav-link" href="#">COFFEE BAGS</a>
                              <ul class="tr-dropdown-menu mega-menu" role="menu">
                                  <li>
                                      <span class="title">Lorem ipsum</span>

                                  </li>
                                  <li>
                                      <span class="title">Lorem ipsum</span>
                                     <ul>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <span class="title">Lorem ipsum</span>
                                     <ul>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <span class="title">Lorem ipsum</span>
                                     <ul>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="listing.html">Bags</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="listing.html">GIFTING</a>
                          </li>
                          <li class="nav-item tr-dropdown active">
                              <a class="nav-link" href="#">Sale</a>
                              <ul class="tr-dropdown-menu right" role="menu">
                                  <li class="tr-dropdown"><a href="#">Dropdown Demo</a>
                                      <ul class="sub-menu right">
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                          <li><a href="#">Dropdown Demo</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Dropdown Demo</a></li>
                                  <li><a href="#">Dropdown Demo</a></li>
                                  <li><a href="#">Dropdown Demo</a></li>
                                  <li><a href="#">Dropdown Demo</a></li>
                                  <li><a href="#">Dropdown Demo</a></li>
                              </ul>
                          </li>

                      </ul>
                  </div>
              </div><!-- /.menu-content -->
          </div><!-- /.container -->
      </nav>
  </div><!-- /.tr-menu -->

  <div class="tr-breadcrumb">
      <div class="container">
          <div class="breadcrumb-info">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active">Coffee</li>
              </ol>
              <div class="page-title">
                  <h1>Great Coffee Made Easy</h1>
              </div>
          </div>
      </div><!-- /.container -->
  </div><!-- /.tr-breadcrumb -->

  <div class="main-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-lg-3">
                  <div class="product-categories tr-section">
                      <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#faq-1">
                                      <span>Latest Arrivals</span>
                                  </a>
                              </div><!-- panel-heading -->


                          </div><!-- panel -->

                          <div class="panel panel-default">
                              <div class="panel-heading active">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#faq-2">
                                      <span>
Ground Coffee (16)</span>
                                  </a>
                              </div><!-- panel-heading -->


                          </div><!-- panel -->

                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#faq-3">
                                      <span>Instant Coffee (26)</span>
                                  </a>
                              </div><!-- panel-heading -->

                          </div><!-- panel -->

                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#faq-4">
                                      <span>Sweets & Chocolates</span>
                                  </a>
                              </div><!-- panel-heading -->


                          </div><!-- panel -->



                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#faq-6">
                                      <span>Brands</span>
                                  </a>
                              </div><!-- panel-heading -->

                              <div id="faq-6" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <ul class="tr-list">
                                          <li><a href="#">AVT</a></li>
                                          <li><a href="#">Brue</a></li>
                                          <li><a href="#">Coffee Day</a></li>
                                          <li><a href="#">Sleepy Owl</a></li>

                                      </ul>
                                  </div>
                              </div>
                          </div><!-- panel -->
                      </div>
                  </div><!-- /.product-categories -->
                  <div class="tr-section choices-option">
                      <ul class="tr-list">
                        <!--   <li class="tr-color">
                              <span>Color</span>
                              <form action="#">
                                  <input type="radio" name="sellType" value="color1" id="color1"><label for="color1"></label>
                                  <input type="radio" name="sellType" value="color2" id="color2"><label for="color2"></label>
                                  <input type="radio" name="sellType" value="color3" id="color3"><label for="color3"></label>
                                  <input type="radio" name="sellType" value="color4" id="color4"><label for="color4"></label>
                              </form>
                          </li>  -->
                          <li>
                              <span>Price Ranger</span>
                              <form method="get" action="#">
                                  <div id="price_slider"></div>
                                  <div class="price_slider_amount">
                                      <input type="text" id="amount">
                                      <button type="submit" class="btn btn-primary">Filter</button>
                                  </div>
                              </form>
                          </li>
                          <li class="brands">
                              <span>Pack Size</span>
                              <form class="search-form" action="#" method="get">

                                  <ul class="tr-list">
                                      <li><input type="checkbox" name="sellType" id="apple"><label for="apple"> 100g</label></li>
                                      <li><input type="checkbox" name="sellType" id="google"><label for="google"> 150gm</label></li>
                                      <li><input type="checkbox" name="sellType" id="microsoft"><label for="microsoft"> 250gm</label></li>
                                      <li><input type="checkbox" name="sellType" id="intel"><label for="intel">500gm</label></li>
                                      <li><input type="checkbox" name="sellType" id="microsoft1"><label for="microsoft1"> 1k</label></li>

                                  </ul>
                              </form>
                          </li>
                          <li class="brands">
                              <span>Brand</span>
                              <form class="search-form" action="#" method="get">
                                  <input class="form-control" name="sellType" type="text" placeholder="Search the site">
                                  <button type="submit"><i class="fa fa-search"></i></button>
                                  <ul class="tr-list">
                                      <li><input type="checkbox" name="sellType" id="apple"><label for="apple"> AVT</label></li>
                                      <li><input type="checkbox" name="sellType" id="google"><label for="google"> BruCoffee</label></li>
                                      <li><input type="checkbox" name="sellType" id="microsoft"><label for="microsoft"> DayCothas</label></li>
                                      <li><input type="checkbox" name="sellType" id="intel"><label for="intel">CoffeeSleepy</label></li>
                                      <li><input type="checkbox" name="sellType" id="microsoft1"><label for="microsoft1"> Owl</label></li>

                                  </ul>
                              </form>
                          </li>
                      </ul>
                      <div class="apply-changes">
                          <span><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Apply Changes</a></span>
                      </div>
                  </div>
              </div>
              <div class="col-md-8 col-lg-9">
                  <div class="product-list">
                      <div class="row">
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product2.png" alt="Image" class="img-fluid">
                                      </span>                                            <span class="product-title">Nescafe Classic Coffee, 200g Pouch</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product3.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Continental Xtra Instant Coffee Powder 200g Bag in Box ( Buy 1 + GET 1 Free )</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product4.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Nescafé Classic Coffee, 100g Dawn Jar</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product2.png" alt="Image" class="img-fluid">
                                      </span>                                            <span class="product-title">Nescafe Classic Coffee, 200g Pouch</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product3.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Continental Xtra Instant Coffee Powder 200g Bag in Box ( Buy 1 + GET 1 Free )</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product4.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Nescafé Classic Coffee, 100g Dawn Jar</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                      </div><!-- /.row -->

                      <div class="tr-section tr-cta cta-2">
                          <div class="cta-info">
                              <h1>Cold Brew: Original Custom Roast</h1>
                              <p>Our signature cold brew has a bold taste that lingers on the palette with notes of chocolate and a caramel finish. Steeped overnight for a smooth coffee experience. Ready to drink - have cold or hot, black or with milk/sugar. Exactly your way!</p>
                              <div class="specification">
                                  <p>Specification <span> <a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"><img src="images/others/1.png" alt="Image" class="img-fluid"></a><a href="#">Detailes</a></span></p>
                              </div>
                              <div class="buy-now">
                                  <span>$1300</span>
                                  <a class="btn btn-primary" href="#">Buy now</a>
                              </div>
                          </div>
                      </div><!-- /.product-middle -->

                      <div class="row">
                         <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product2.png" alt="Image" class="img-fluid">
                                      </span>                                            <span class="product-title">Nescafe Classic Coffee, 200g Pouch</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product3.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Continental Xtra Instant Coffee Powder 200g Bag in Box ( Buy 1 + GET 1 Free )</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product4.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Nescafé Classic Coffee, 100g Dawn Jar</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product2.png" alt="Image" class="img-fluid">
                                      </span>                                            <span class="product-title">Nescafe Classic Coffee, 200g Pouch</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product3.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Continental Xtra Instant Coffee Powder 200g Bag in Box ( Buy 1 + GET 1 Free )</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                              <div class="tr-product">
                                  <a href="details.html">
                                      <span class="product-image">
                                          <img src="assets/images/product/product4.png" alt="Image" class="img-fluid">
                                      </span>
                                      <span class="product-title">Nescafé Classic Coffee, 100g Dawn Jar</span>

                                      <span class="price">$149</span>
                                  </a>
                                  <div class="product-icon">
                                      <a href="#"><span class="icon icon-basket"></span></a>
                                      <a href="#"><span class="icon icon-pulse"></span></a>
                                  </div>
                              </div>
                          </div>
                      </div><!-- /.row -->
                      <div class="tr-pagination tr-section text-center">
                          <ul class="pagination">
                              <li class="float-left"><a class="page-numbers" href="#">Prev</a></li>
                              <li><a class="page-numbers" href="#">1</a></li>
                              <li><a class="page-numbers" href="#">2</a></li>
                              <li class="active"><a class="page-numbers" href="#">3</a></li>
                              <li><a class="page-numbers" href="#">4</a></li>
                              <li><a class="page-numbers" href="#">5</a></li>
                              <li><a class="page-numbers" href="#">6</a></li>
                              <li><a class="page-numbers" href="#">7</a></li>
                              <li><a class="page-numbers" href="#">8</a></li>
                              <li><a class="page-numbers" href="#">9</a></li>
                              <li><a class="page-numbers" href="#">...</a></li>
                              <li><a class="page-numbers" href="#">21</a></li>
                              <li><a class="page-numbers" href="#">22</a></li>
                              <li><a class="page-numbers" href="#">23</a></li>
                              <li><a class="page-numbers" href="#">24</a></li>
                              <li class="float-right"><a class="page-numbers" href="#">Next</a></li>
                          </ul>
                      </div>
                  </div><!-- /.product-list -->
              </div>
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.main-wrapper -->

  <div class="tr-convenience">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <div class="convenience">
                      <div class="icon">
                          <img src="assets/images/others/icon1.png" alt="Image" class="img-fluid">
                      </div>
                      <span>Free Delivery</span>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="convenience">
                      <div class="icon">
                          <img src="assets/images/others/icon2.png" alt="Image" class="img-fluid">
                      </div>
                      <span>Clients Discounts</span>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="convenience">
                      <div class="icon">
                          <img src="assets/images/others/icon3.png" alt="Image" class="img-fluid">
                      </div>
                      <span>Return Of Goods</span>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="convenience">
                      <div class="icon">
                          <img src="assets/images/others/icon4.png" alt="Image" class="img-fluid">
                      </div>
                      <span>Many Brands</span>
                  </div>
              </div>
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.tr-convenience -->

  <div class="tr-footer">
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="left-content">
                          <h3>Sign up for newsletter</h3>
                          <p>Enter your email to receive relevant messaging tips and examples.</p>
                          <form action="#">
                              <input class="form-control" required="required" type="email" placeholder="Enter Your Email Id">
                              <input type="submit" class="btn">
                          </form>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <h3>We Accept</h3>
                      <p>Enter your email to receive relevant messaging tips and examples.</p>
                      <div class="payment-card">
                          <ul class="tr-list">
                              <li><img src="assets/images/others/card1.png" alt="Image" class="img-fluid"></li>
                              <li><img src="assets/images/others/card2.png" alt="Image" class="img-fluid"></li>
                              <li><img src="assets/images/others/card3.png" alt="Image" class="img-fluid"></li>
                              <li><img src="assets/images/others/card4.png" alt="Image" class="img-fluid"></li>
                              <li><img src="assets/images/others/card5.png" alt="Image" class="img-fluid"></li>
                              <li><img src="assets/images/others/card6.png" alt="Image" class="img-fluid"></li>
                          </ul>
                      </div><!-- /.payment-card -->
                  </div>
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.footer-top -->
      <div class="footer-bottom">
          <div class="container">
              <div class="footer-widget">
                  <div class="footer-logo">

                  </div>
                  <span>Copyright &copy; 2020 <a href="#">Jay</a></span>
                  <span>Design By<a href="#"> Jay</a></span>
              </div><!-- /.footer-widget -->
              <div class="footer-widget">
                  <h3>Product</h3>
                  <ul class="tr-list">
                      <li><a href="#">Pricing</a></li>
                      <li><a href="#">Features</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">One-Click Apps</a></li>
                      <li><a href="#">API</a></li>
                  </ul>
              </div><!-- /.footer-widget -->
              <div class="footer-widget">
                  <h3>Company</h3>
                  <ul class="tr-list">
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div><!-- /.footer-widget -->
              <div class="footer-widget">
                  <h3>Help</h3>
                  <ul class="tr-list">
                      <li><a href="#">Getting Started</a></li>
                      <li><a href="#">Feedback</a></li>
                      <li><a href="#">Referral Program</a></li>
                      <li><a href="#">Network Status</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div><!-- /.footer-widget -->
              <div class="footer-widget">
                  <h3>Social</h3>
                  <ul class="tr-list">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a></li>
                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Google</a></li>
                  </ul>
              </div><!-- /.footer-widget -->
          </div><!-- /.container -->
      </div><!-- /.footer-bottom -->
  </div><!-- /.tr-footer -->



</body>
